
p1 {
    color: chocolate;
    background-color: navajowhite;
}

p2 {
    color:deepskyblue;
    background-color:gold;
}

button {
    color:blueviolet;
    background-color:cyan;
}

h4 {
    color: orange;
}

p3 {
    color: wheat;
    background-color: blue;
}

button1 {
    color: white;
    background-color: black;
}